@import "tailwindcss";

:root {
  --primary: #ef394e;
  --light: #ffebee;
  --surface: #ffffff;
  --text-main: #1f2937;
  --text-muted: #6b7280;
}

@theme inline {
  --color-primary: var(--primary);
  --color-light: var(--light);
  --color-text-main: var(--text-main);
  --color-text-muted: var(--text-muted);
}

body {
  min-height: max(884px, 100dvh);
  font-family: var(--modam-font);
  background-color: var(--surface);
  color: var(--text-main);
}

@layer base {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
