@import "tailwindcss";

:root {
  --primary: #ef394e;
  --light: #ffebee;
  --surface: #ffffff;
  --main: #1f2937;
  --muted: #6b7280;
}

@theme inline {
  --color-primary: var(--primary);
  --color-light: var(--light);
  --color-main: var(--main);
  --color-muted: var(--muted);
}

body {
  min-height: max(884px, 100dvh);
  font-family: var(--modam-font);
  background-color: var(--surface);
  color: var(--main);
}

@layer base {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  input {
    @apply border-main ring-0
  }
  select{
    @apply bg-main 
  }
  option{@apply text-light}
  a{@apply cursor-pointer}
  button{
    @apply cursor-pointer
  }
  .toaster{
    @apply cursor-grab
  }
}
